@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model IEnumerable<Portfolio.Models.StarredRepos>

<h3 class="header center orange-text">A few Projects</h3>

<div class="center">
    <br /><br />

    @foreach (var starredRepo in Model)
    {


        <ul class="header center orange-text" style="font-size:20px;">
            <li>@Html.DisplayFor(modelItem => starredRepo.Name)</li>
            <li>@Html.DisplayFor(modelItem => starredRepo.Description)</li>
            <li>Url: @Html.DisplayFor(modelItem => starredRepo.Url)</li>
            <li>Watchers: @Html.DisplayFor(modelItem => starredRepo.Watchers)</li>
            <li>Stars: @Html.DisplayFor(modelItem => starredRepo.Stargazers_Count)</li>
        </ul>
        <br />
    }

</div>